@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #919bea !important;
}

.member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #344cc9 !important;
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.active .page-link {
  z-index: 4!important;
  background-color: #344cc9!important;
  border-color: #344cc9!important;
  color: #eeeeee!important;
}

.page-link {
  color: #344cc9!important;
}

.btn-primary {
  color: #fff;
  background-color: #344cc9;
  border-color: #344cc9;
}

.btn-primary.active {
  color: #fff;
  background-color: #2f3f88;
  border-color: #2f3f88;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2f3f88;
  border-color: #2f3f88;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #5682ec;
}

tabset ul lu a span .nav-link {
  color: #2f3f88!important;
}

a.nav-link span {
  color: #2f3f88!important;
}

a.nav-link span {
  color: #2f3f88!important;
}
